sbapp/.buildozer
sbapp/requirements.txt
sbapp/venv
sbapp/bin
sbapp/app_storage
sbapp/RNS
sbapp/LXMF
sbapp/precompiled
sbapp/*.DS_Store
sbapp/*.pyc
sbapp/build
sbapp/dist
sbapp/docs/build
sbapp/sideband*.egg-info
sbapp/sbapp*.egg-info


.buildozer
requirements.txt
venv
bin
app_storage
RNS
LXMF
precompiled
*.DS_Store
*.pyc
build
dist
docs/build
sideband*.egg-info
sbapp*.egg-info