certifi==2023.7.22
charset-normalizer==3.2.0
docopt==0.6.2
idna==3.4
pipreqs==0.4.13
requests==2.31.0
urllib3==2.0.4
yarg==0.1.9
cryptography
cffi
pycparser
kivy==2.2.1
pygments
pillow
qrcode==7.3.1
netifaces
pydenticon
usb4a
usbserial4a
