# Entry version 20240630
[Desktop Entry]
Comment[en_US]=Messaging, telemetry and remote control over LXMF
Comment=Messaging, telemetry and remote control over LXMF
Encoding=UTF-8
Exec=sideband
GenericName[en_US]=LXMF client
GenericName=LXMF client
Icon=io.unsigned.sideband.png
Categories=Utility
MimeType=
Name[en_US]=Sideband
Name=Sideband
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=